.action {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.mode {
  width: 100%;
  height: 100%;
}

.mode button {
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-color: var(--pink-color);
}

.location {
  width: 100%;
  height: 100%;
}

.location button {
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: #d5c0ca;
}
