.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas canvas {
  width: 100%;
  height: 100%;
}

.action {
  position: absolute;
  bottom: 0;
}

.action button {
  height: 50px;
  font-size: 40px;
  padding: 0 5px;
}