:root {
  --kusa-color: #9aa644;
  --pink-color: #d5a6bd;
}

.container {
  position: relative;
  width: 100vw;
}

.header {
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 100;
  background-color: var(--kusa-color);
}

.headline {
  position: relative;
  top: 10vh;
  width: 100%;
}
